body {
  background-color: whitesmoke;
}

.marquee {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.marqueeTweet {
  font-size: 2em;
  font-family: 'Roboto Slab', sans-serif;
}

.marqueeScroll {
  display: flex;
  animation: infscroll infinite linear;
}

@keyframes infscroll {
  0% {
    transform: translateX(0)
  }
  100% {
    transform: translateX(-100%)
  }
}
